table {
    border-collapse: collapse;
    width: 75%;

    margin: auto;
}

th,
td {
    border: 1px solid black;
    padding: 0.5em;
    text-align: center;
}

th {
    height: 30px;
    font-size: larger;
    background-color: rgb(19, 171, 221);
}

tr:hover,
tr:nth-child(even):hover {
    background-color: lightskyblue;
    cursor: basic;
}

tr:nth-child(even) {
    background-color: rgb(222, 244, 252);
}